.logo{
    width:35px;
    height:35px;
    margin-right:10px;
}
a{
    text-decoration:none;
    color:unset;
}
#navbarScrollingDropdown {
    color: white;
}


.doughnut-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doughnut-wrapper {
    width: 100%;
}